body {
    background-color: #c7adde;
    background-repeat: no-repeat;
    /* cover stretches image vs contain image keeps ratio while showing all image*/
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}
 .btn {
    position: relative;
    top: 40%;
    left: 30%;
    background-color: #C0C5EB;
    color: #4C4186;
    font-size: 1.5vw;
    font-family:'Times New Roman', Times, serif;
    padding: 1vp 1vp;
    border: none;
  }

#info {
    position: relative;
    top: 40%;
    left: 40%;
    font-size: 2vw;
    size-adjust: auto;
    color: #3A4280;
    font-family:'Times New Roman', Times, serif;
}

#email {
    position: relative;
    top: 15vw;
    left: 40vw;
    font-size: 2vw;
    color: #1f2553;
    font-family:'Times New Roman', Times, serif;
}

#para {
    position: relative;
    top: 27vh;
    left: 35vw;
    font-size: 1.7vw;
    color: #1f2553;
}

.btn:hover {
background-color: rgb(117, 132, 199);
color: #C0C5EB;
}

img {
    width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5e5484;
    width: 100%;
    height: auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #6580bb;
    color: white;
  }
  
