body {
    background-color: #c7adde;
    background-repeat: no-repeat;
    /* cover stretches image vs contain image keeps ratio while showing all image*/
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-width: 480px;    
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 15px;
}

h1{
    position: relative;
    top: 19%;
    left: 43%;
    font-size: 4vw;
    font-family:'Times New Roman', Times, serif;
}

.btn {
    position: relative;
    top: 25%;
    left: 45%;
    background-color: #C0C5EB;
    color: #4C4186;
    font-size: 1.5vw;
    font-family:'Times New Roman', Times, serif;
    padding: .5em 1em;
    border: none;
}

.btn:hover {
    background-color: rgb(117, 132, 199);
    color: #C0C5EB;
}

.aboutCBtn {
    position: relative;
    top: 8%;
    left: 1%;
    background-color: #C0C5EB;
    color: #4C4186;
    font-size: 1.5vw;
    font-family:'Times New Roman', Times, serif;
    padding: .5em 1em;
    border: none;
}

.aboutCBtn:hover {
    background-color: rgb(117, 132, 199);
    color: #C0C5EB;
}

#info {
    position: relative;
    top: 20%;
    left: 40%;
    font-size: 2vw;
    color: #3A4280;
    font-family:'Times New Roman', Times, serif;
}

#email {
    position: relative;
    top: 20%;
    left: 40vw;
    font-size: 2vw;
    color: #1f2553;
    font-family:'Times New Roman', Times, serif;
}

#rsvpHeader {
    position: relative;
    top: 15vh;
    left: 37vw;
    font-size: 1.7vw;
    color: #1f2553;
}

img {
    width: 100%;
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    background-color: #5e5484;
    width: 100%;
    height: auto;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #b2cddc;
    color: rgb(41, 33, 48);
}

.topnav a.active {
    background-color: #6580bb;
    color: white;
}

.screenReaderOnlyText {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


@media (max-width: 600px) {
    body {
        background-image: 100%;
        overflow: hidden;
    }
    h1 {
        position: relative;
        font-size: 4vw;
        left: 168px;
        top: 140px;
    }

    #rsvpHeader {
        position: relative;
        top: 40%;
        left: 35%;
        font-size: 2vw;
        color: #1f2553;
    }

    #info {
        position: relative;
        font-size: 3vw;
        left: 140px;
        top: 150px;
    }

    #email {
        position: relative;
        font-size: 1vw;
        left: 35%;
        top: 50%;
    }

    .btn {
        position: relative;
        font-size: 1.8vw;
        left: 170px;
        top: 155px;
    }
}